.navbar{
    background-color :#fafafa;
    padding: 4% 0;
}
.navbar-brand{
}
.nav-link{
    font-size: 1.3rem;
    font-weight: 500;
}
.nav-brand-containter{
    max-width: 20%;
    padding: 0;
}

.rn-logo{
    width: 90%;
    height: auto;
    padding: 0;
    margin: 0;
}