.navbar{
    background-color :#fafafa;
    padding: 1% 0;
}
.navbar-brand{
    margin: 0;
}
.nav{
    
}
.nav-link{
    font-size: 1.5rem;
    font-weight: 500;
    color: #800E1D;
}
.nav-brand-containter{
    max-width: 35%;
    padding: 0;
}

.rn-logo{
    width: 70%;
    height: auto;
    padding: 0;
    margin: 0;
}

.icon-contaienr{
    
}

.icon{
    margin: 15.8px 5px;
    font-size: 1.4rem;
    color: #800E1D;
}

@supports (backdrop-filter: blur(.1em)) {
    .navbar{
        background: rgba(250, 250, 250, 0.5);
        backdrop-filter: blur(.5em);
    }
}

@media (max-width:989px) {

    .rn-logo{
        width: 145%;
    }
    .nav-brand-containter{
        margin: 0;
        max-width: 30%;
    }
    .hide-on-mobile{
        display: none;
    }
}


@media (min-width:990px) {

    .hide-on-desktop{
        display: none;
    }
}